Warn if only one URL is checked and it is non-parseable

Story: backend change made, `content-type` header lost, browsers look at the content, see it starts with `<!doctype html>` and decide it should have been text/html. LinkChecker, on the other hand, assumed application/octet-stream, and so didn’t parse, and so didn’t start recursion, but rather happily reported that it had checked one URL and was done.

I expect LinkChecker to be pointed at a intended-to-be-parseable resource roughly 100% of the time, almost always of type text/html. If the first resource it looks at isn’t parseable (in which case it will be the *only* resource checked), it should warn that something is almost certainly wrong with the URL or the response from the server (and probably suggest `-Dchecking` or `-Dall` to figure out why).

hmm... i'm not sure we should parse `application/octet-stream` as `text/html`. RFC2616 says, in section 7.2.1:

>  Any HTTP/1.1 message containing an entity-body SHOULD include a Content-Type header field defining the media type of that body. If and only if the media type is not given by a Content-Type field, the recipient MAY attempt to guess the media type via inspection of its content and/or the name extension(s) of the URI used to identify the resource. If the media type remains unknown, the recipient SHOULD treat it as type "application/octet-stream". 

So while browsers are in compliance by doing an educated guess, we are also in compliance by treating the content at face value (`MAY`). The question is whether to consider this an error or not. Further information comes from [RFC7231 section 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5), which discourages implementations from doing guess-work, and [RFC2046 section 4.5.1](https://tools.ietf.org/html/rfc2046#section-4.5.1) which defines the application/octet-stream type:

>    The recommended action for an implementation that receives an
>   "application/octet-stream" entity is to simply offer to put the data
>   in a file, with any Content-Transfer-Encoding undone, or perhaps to
>   use it as input to a user-specified process.

Here again, we are in compliance. Nowhere in the standards does it say that we should warn on such content: it might be perfectly valid to have a binary spewed out of the first link given to linkchecker. For example, someone may use linkchecker as an over-engineered `curl` or `wget` just to check if the resource correctly exists. Implementing a special case there would break that assumption and would complicate the code.

That said, I think it's possible to implement what you want yet still respecting standards. We just need to be quite careful how we do it to not break the "yeah, I know and expect this is binary and it's fine" use case.

When you say "warn", are you saying just logging an error? Or changing the exit code? I'd be fine with the former, I think, but not with the latter.

If I might add, however: maybe there's a fundamentally flawed assumption in your CI process. Your tests might have "erroneously succeeded" in other ways that linkchecker could not possibly have caught. For example, the `content-type` header might have been `text/html` but returned an empty document, or a document without any links at all, also breaking recursion completely yet succeeding in the test suite. I would argue that, in your use case, the right thing to do for your CI is to check the linkchecker reports and make sure that at least N links are found in the output. 

Does that make sense?